$primary: #e14;
$secondary: #124;
$accent: #e72;

.contact-form-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url('./assets/img/contact-bkg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-card {
  width: 600px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba($secondary,.06);
  overflow: hidden;
}

.contact-form-form {
  padding: 2rem;
}

.contact-form-button {
  display: block;
  width: 100%;
  background-color: #e14;
  border: none;
  border-radius: 3px;
  padding: 1ch;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

@mixin input {
  display: block;
  width: 100%;
  border: 2px solid #eee;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
}

@mixin input-focus {
  border-color: #e14;
}

@mixin label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 .5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: #888;
}

@mixin label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: #e14;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: #fff;
  font-weight: 600;
}



.contact-form-text-input {
  position: relative;
  margin-bottom: 1rem;
  label {
    @include label;
  }
  label.label-focus {
    @include label-focus;
  }
  input {
    @include input;
  }
  input.input-focus {
    @include input-focus;
  }
}

.contact-form-text-area {
  position: relative;
  margin-bottom: 1rem;
  label {
    @include label;
  }
  label.label-focus {
    @include label-focus;
  }
  textarea {
    @include input;
    height: 8em;
  }
  textarea.input-focus {
    @include input-focus;
  }
}